body {
    background: #fdf8f8;
}

main {
    padding-top: 64px;
}

header > nav {
    -webkit-box-shadow: 0 4px 8px -6px #000000;
    box-shadow: 0 4px 8px -6px #000000;
    z-index: 3;
}

header > .container-fluid {
    -webkit-box-shadow: -3px 3px 8px -4px #000000;
    box-shadow: -3px 3px 8px -4px #000000;
    z-index: 2;
    border-bottom-left-radius: 5px;
}

.custom-auth-font {
    font-size: 18px;
}

.custom-auth-font a {
    text-decoration: none;
    color: #000;
}

.custom-auth-font a:hover {
    color: #0d57a8;
}

.bi {
    cursor: pointer;
}

nav .bi:hover,
.card .bi:hover {
    color: #0d57a8;
}

.shadow-full {
    position: fixed;
    top: 30px;
    left: 0;
    height: calc(100vh - 30px);
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.post-edit {
    display: none;
    -webkit-box-shadow: -5px 5px 15px 6px #FFFFFF;
    box-shadow: -5px 5px 15px 6px #FFFFFF;
}

.card:hover .post-edit {
    display: block;
}

.modal-footer {
    background: #dadada;
}

.col-comment {
    width: calc(100% - 70px) !important;
}

.col-comment-send {
    width: 70px !important;
}

@media only screen and (max-width: 576px) {
    header > .container-fluid {
        border-radius: 0;
    }
}