body {
    background: #fdf8f8;
    height: 150vh;
}

main {
    padding-top: 64px;
}

header > nav {
    -webkit-box-shadow: 0 4px 8px -6px #000000;
    box-shadow: 0 4px 8px -6px #000000;
    z-index: 3;
}

header > .container-fluid {
    -webkit-box-shadow: -3px 3px 8px -4px #000000;
    box-shadow: -3px 3px 8px -4px #000000;
    z-index: 2;
    border-bottom-left-radius: 5px;
}

.custom-auth-font {
    font-size: 18px;
}

.custom-auth-font a {
    text-decoration: none;
    color: #000;
}

.custom-auth-font a:hover {
    color: #0c4788;
}

.bi {
    cursor: pointer;
}

.bi:hover {
    color: #0c4788;
}

.shadow-full {
    position: fixed;
    top: 30px;
    left: 0;
    height: calc(100vh - 30px);
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


@media only screen and (max-width: 576px) {
    header > .container-fluid {
        border-radius: 0;
    }
}