body {
    background: #fdf8f8;
}

main {
    padding-top: 64px;
}

header > nav {
    -webkit-box-shadow: 0 4px 8px -6px #000000;
    box-shadow: 0 4px 8px -6px #000000;
    z-index: 3;
}

header > .container-fluid {
    -webkit-box-shadow: -3px 3px 8px -4px #000000;
    box-shadow: -3px 3px 8px -4px #000000;
    z-index: 2;
    border-bottom-left-radius: 5px;
}

.custom-auth-font {
    font-size: 18px;
}

.custom-auth-font a {
    text-decoration: none;
    color: #000;
}

.custom-auth-font a:hover {
    color: #0d57a8;
}

.bi {
    cursor: pointer;
}

nav .bi:hover,
.card-header .bi:hover,
.comment-edit .bi:hover {
    color: #0d57a8;
}

.shadow-full {
    position: fixed;
    top: 30px;
    left: 0;
    height: calc(100vh - 30px);
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-body pre {
    margin-bottom: 0;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.col-comment {
    width: calc(100% - 80px) !important;
    margin-left: 12px;
}

.col-comment-send {
    width: 60px !important;
}

.comment {
    min-height: 80px;
}

.comment-edit {
    display: none;
}

.comment:hover .comment-edit {
    display: block;
    margin-top: -1px;
    margin-right: -1px;
    border-top-right-radius: 5px;
}

.post-edit {
    color: #212529;
    display: none;
}

.card:hover .post-edit {
    display: block;
    margin-top: 1px;
    margin-right: -1px;
}

.modal-footer {
    background: #dadada;
}

.response-message-center {
    margin: 0 !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.response-message-center::first-letter,
.response::first-letter,
.invalid-feedback li::first-letter{
    text-transform: capitalize;
}

.invalid-feedback{
    display: block !important;
}

header form li{
    margin-left: -10px !important;
}

.post form li{
    margin-left: 18px !important;
    margin-bottom: 0px !important;
}

.form-comment-create .alert{
    width: calc(100% - 24px);
    margin-left: 12px !important;
}

@media only screen and (max-width: 576px) {
    header > .container-fluid {
        border-radius: 0;
    }
    .response-message-center {
        top: 64px;
        left: 2px;
        width: calc(100% - 4px);
        transform: none;
    }
    .container{
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}